* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(//images/background-picture.jpg);
  background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;  
}

.hero-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 20px;
  gap: 100px;
  /* border: 2px solid red; */
  height: 60vh;
 padding: 40px;
}
/* .hero-text{
   padding: 40px;
  font-size: var(--font-x3)
}  */

h1 h2 {
    font-size: var(--font-xl);
    
}
.hero-text {
    /* border: 2px solid blue; */
}
.hero-images{
   /* border: 2px solid blue; */
 justify-content: center;
 display: flex;
}
.hero-foot{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* background-color: var(--dark-colour); */
    /* border: 2px solid blue; */
     height: 40%;
     padding: 50px;
     background-color: gray;
}
.text-one{
    color: white;
}
.text-two{
    display: flex;
    color: white;
}
.text-three{
    display: flex;
    flex-direction: row; 
    color: blue;
    gap: 10px;
}
#and-text{
    margin: 50%;
    color: white;
    padding: 30px;
}
#text-x{
    display: flex;
    background-color: white;
}
#one-text{
    width: 50%;
    color: black;
    padding: 30px;
}
.two-text{
    width: 50%;
    color: black;
    padding: 30px;
}
#img-one{
    width: 50%;

}
.below{
 /* width: 200%; */
justify-content: center;
align-items: center;
background-color: white;
/* border: 2px solid red; */
display: flex;
flex-direction: column;
gap: 10px;
}
.below-one{
 background-color: white;
display: flex;
justify-content: center;

}
.below-two{
   background-color: white;
   display: flex;
  justify-content: center;

}
.x-one{
   color: white;
   display: flex;
   flex-direction: column;
}
.x-two{
 width: 300px;
  /* border: 2px solid red; */
  padding: 20px;
}
.x-three{
background-color: gray;
 width: 300px;
padding: 20px;
border-radius: 11px;
}
.x-four{
  width: 300px;
  padding: 20px;
}

.x-five{
  display: flex;
  flex-direction: column;
  width: 329px;
  padding: 20px;
  gap: 20px;
  /* background-color: rgb(24, 23, 23); */
  border: gray;
  border-radius: 12px;
  
    color: white;
}
.x-five-text{

}

.xx-one{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.x-one{
    display: flex;
    flex-direction: column;
}
.xx-two{
    color: white;
}
.m-text{
    width: 50%;
    color: white;
    display: flex;
    flex-direction: row;
}
.xx-two{
    display: flex;
    flex-direction: column;
    width: 329px;
    padding: 20px;
    gap: 30px;
}
.DStv-foot{
color: gray;
display: flex;
gap: 100px;
margin-left: 30px;
padding-top: 40px;
 
}
.DSTV-ONE{
 color: white;
 
}
.DSTV-button{
display: flex;
}

.but-two{
    background-color: black;
}

.but-two:hover{
  cursor: pointer;
  background-color: rgb(95, 95, 217);
}
.DSTV-TEXT-ONE{
   display: flex;
   gap: 30px;
   margin-left: 90px;
}
.don{
    background-color: rgb(5, 5, 21);
    display: flex;
    gap: 40px;
}
.don-one{
    color: white;
    display: flex;
    gap: 20px;
    font-size: 12px;
    width: 70%;
}
.don-two{
    color: white;
    display: flex;
    gap: 40px;
   
    
}