* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero {
  height: 100vh;
  width: 100%;
  background-image: url(../images/dstv-nigeria-festive_1920x1080.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 70px;
  margin-top: 90px;
}
.hero-text {
  margin: auto;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero-main-text {
  font-size: var(--font-xl);
  color: var(--secondary-colour-4);
}
.hero-subtext {
  font-size: var(--font-m);
  color: var(--white-colour);
}
